/* Created By : Siva */
/* Date : 2/04/2021 */

.datePicker {
  display: flex;
  align-items: center;
  outline: none;
  font-size: inherit;
  color: inherit;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #cecece;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 2px 4px;
  margin-top: 4px;
  width: 100%;
}
