/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* font-family: Proxima Nova; */
}
.container p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding: 6px 0;
  color: var(--ui-color-gray-medium);
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--ui-color-white);
  border: 1px solid var(--ui-color-gray-pale2);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--ui-color-white);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: var(--ui-color-primary-green-dark2);
  animation: color-me-in 1s;
}
@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background: var(--ui-color-white);
  }
  /* You could think of as "step 2" */
  100% {
    background: var(--ui-color-primary-green-dark2);
  }
}
