.link a {
  color: var(--color-gray-dark);
}

.resource_button {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -40px;
}

/* Add External Resource */
.add_error_message {
  font-size: 12px;
  color: var(--color-primary);
  position: relative;
  top: -5px;
}

.add_button {
  margin-top: 5px;
  text-align: right;
}

/* Delete Eternal Resource */
.delete_message {
  padding: 20px 0px;
  padding-bottom: 30px;
}

.delete_button {
  text-align: right;
}
