.connection_list {
}

.connection_item {
  margin-bottom: 1px;
  position: relative;
  background: #fff;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  padding: 23px 18px 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.connection_byLine {
  font-size: 12px;
  display: flex;
  justify-content: left;
  color: #999;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  top: 11px;
  left: 38px;
  width: calc(100% - 57px);
}

.connection_name {
  font-weight: 300;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-right: 105px;
  position: relative;
  padding-left: 18px;
}

.connection_open_close {
  cursor: pointer;
  position: absolute;
  left: 0px;
  font-size: 23px;
  top: 0px;
  color: green;
}

.action_row {
  display: flex;
  justify-content: flex-end;
}

.action {
  width: initial;
}

.input_icon.input_icon {
  color: initial;
}
