.container {
  width: 250px;
  background: linear-gradient(115.95deg, #61bda7 50.04%, #2ba5a5 97.03%);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 22px;
}

.container:before {
  content: "";
  position: absolute;
  background: radial-gradient(#79e6d5 0%, #41ac92 65.66%);
  border-radius: 100%;
  width: 400px;
  height: 400px;
  top: -220px;
  left: -188px;
  z-index: 1;
}

.content {
  z-index: 2;
  position: relative;
}

.content ul {
  font-family: "proxima-nova";
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.content ul li {
  padding: 10px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  cursor: pointer;
}

.content ul li:last-child {
  border-bottom: none;
}
