.set_score_container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 20px;
}

.set_score_each {
  background: var(--color-gray-light);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 2.5;
  color: white;
  cursor: pointer;
}

.active_score {
  background-color: var(--color-primary) !important;
}
