.chart_type {
  width: 50px;
  height: 40px;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 19px;
  cursor: pointer;
  /* float: left; */
  right: 0;
  position: relative;
}
