/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding: 6px 0;
  color: var(--ui-color-gray-medium);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--ui-color-white);
  border: 1px solid var(--ui-color-gray-pale2);
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--ui-color-primary-green-dark2);
  border: none;
  animation: color-me-in 1s;
}
@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background: var(--ui-color-white);
  }
  /* You could think of as "step 2" */
  100% {
    background: var(--ui-color-primary-green-dark2);
  }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  /* width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px; */
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--ui-color-white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
